{
    "secretId": "xxx",
    "secretKey": "xxx",
    "httpRecord": true,
    "h3Port": 4433,
    "domains": {
        "example.me": [
            "@",
            "demo"
        ],
        "example.com": [
            "@",
            "www",
            "telecom#telecom"
        ]
    },
    "ips": {
        "unicom": "echo '192.168.22.1'",
        "telecom": "echo '192.168.22.2'"
    }
}
