{
    "token": "xxxx,xxxxxxxxxxxxxxxxxxxxxxxxxx",
    "domains": {
        "example.me": [
            "@",
            "demo"
        ],
        "example.com": [
            "@",
            "www"
        ]
    },
    "ips": {
        "unicom": "echo '192.168.22.1'",
        "telecom": "echo '192.168.22.2'"
    }
}